
<div id="project-editor">

    <form>
        <table border=1>
            <tr>
                <th>project</th>
                <td>
                    title: <input ng-model="project.description" name=project id=project size=20 maxlength=60" />
                </td>
                <td>
                    <input ng-model="project.publish" type="checkbox" name="publish" checked />publish
                </td>
            </tr>
            <tr>
                <th>estimate</th>
                <td>
                    type:
                    <select ng-model="project.estimate" name="type" id="type">
                        <option value="mode">most likely (mode)</option>
                        <option value="mean">average (mean)</option>
                        <option value="p50" selected>50/50 (median)</option>
                        <option value="p80">80% confident</option>
                        <option value="p90">90% confident</option>
                    </select>
                </td>
                <td>
                    units: <input ng-model="project.units" size="20" />
                </td>
            </tr>
            <tr>
                <th>simulation</th>
                <td>
                    <input ng-model="project.schedule" ng-value="false" type="radio" />effort
                    <input ng-model="project.schedule" ng-value="true" type="radio" />schedule
                </td>                
                <td>
                    trials: <input ng-model="project.trials" size=5 maxlength=5 />
                </td>
            </tr>
            <tr>
                <th>schedule</th>
                <td>
                    start date: <input ng-model="project.startDate" name=project id=project size=12 maxlength=12" />
                </td>
                <td>
                    capacity: <input ng-model="project.capacity" name=capacity id=capacity size=5 maxlength=10 /> (effort/week)
                </td>
            </tr>
            <tr>
                <th>actions</th>                
                <td align="right" colspan="2">
                    <button ng-click="saveProject()">Save</button>
                    <button>Copy</button>
                    <button>Delete</button>
                </td>
            </tr>
        </table>
    </form>
        
    <p />
        
    <table border=1>
        <thead>
            <tr>
                <th>task</th>
                <th>count</th>
                <th>estimate ({{ project.estimate }})</th>
                <th>risk</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{ task.description }}</td>
                <td>{{ task.count }}</td>
                <td>{{ task.estimate }}</td>
                <td>{{ task.risk }}</td>
            </tr>
        </tbody>
    </table>

    <p/>

    <table border="0">
        <tr>
            <td>
                <table border="1">
                    <tr> <th width="50">nominal</th> <td width="50" align="right">{{ results.nominal | number:2 }}</td> </tr>
                    <tr> <th>mode</th> <td align="right">{{ results.mode | number:2 }}</td> </tr>
                    <tr> <th>mean</th><td align="right">{{ results.mean | number:2 }}</td> </tr>
                    <tr> <th>p10</th> <td align="right">{{ results.cumprob[10][0] | number:2 }}</td> </tr>
                    <tr> <th>p50</th> <td align="right">{{ results.cumprob[50][0] | number:2 }}</td> </tr>
                    <tr> <th>p80</th> <td align="right">{{ results.cumprob[80][0] | number:2 }}</td> </tr>
                    <tr> <th>p90</th> <td align="right">{{ results.cumprob[90][0] | number:2 }}</td> </tr>
                    <tr> <th>p95</th> <td align="right">{{ results.cumprob[95][0] | number:2 }}</td> </tr>
                    <tr> <th>p99</th> <td align="right">{{ results.cumprob[99][0] | number:2 }}</td> </tr>
                    <tr> <th colspan=2>risk metrics</th></tr>
                    <tr> <th>variance</th> <td align="right">{{ results.risk | number:2 }}</td> </tr>
                    <tr> <th>p90/p10</th> <td align="right">{{ results.cumprob[90][0]/results.cumprob[10][0] | number:2 }}</td> </tr>
                    <tr> <th>p90/p50</th> <td align="right">{{ results.cumprob[90][0]/results.cumprob[50][0] | number:2 }}</td> </tr>
                    <tr> <th>P(>nom)</th> <td align="right">{{ results.pnom | number:2 }}</td> </tr>
                </table>
            </td>
            <td>
                <div id="graph">loading simulation results...</div>
                <div ng-show="results">Monte Carlo simulation took {{ results.simtime | number:2 }}s for {{ results.trials }} iterations</div>
            </td>
        </tr>
    </table>
</div>