
<div id="project-report">

    <h1>{{ project.description }}</h1>
    
    <div ng-if ="project.mine">
        <a href="#/edit/{{ project.id }}">edit</a> project
    </div>

    <div ng-if="!project.mine">
        <a href="#/copy/{{ project.id }}">copy</a> {{ project.owner }}'s project
    </div>

    <p />
    
    <table border=1>
        <thead>
            <tr>
                <th>task</th>
                <th>count</th>
                <th>estimate ({{ project.estimate }})</th>
                <th>risk</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{ task.description }}</td>
                <td>{{ task.count }}</td>
                <td>{{ task.estimate }}</td>
                <td>{{ task.risk }}</td>
            </tr>
        </tbody>
    </table>

    <p/>

    <table border="0">
        <tr>
            <td>
                <table border="1">
                    <tr> <th width="50">nominal</th> <td width="50" align="right"><div id="nominal" /></td> </tr>
                    <tr> <th>mode</th> <td align="right"><div id="mode" /></td> </tr>
                    <tr> <th>mean</th><td align="right"><div id="mean" /></td> </tr>
                    <tr> <th>p10</th> <td align="right"><div id="p10" /></td> </tr>
                    <tr> <th>p50</th> <td align="right"><div id="p50" /></td> </tr>
                    <tr> <th>p80</th> <td align="right"><div id="p80" /></td> </tr>
                    <tr> <th>p90</th> <td align="right"><div id="p90" /></td> </tr>
                    <tr> <th>p95</th> <td align="right"><div id="p95" /></td> </tr>
                    <tr> <th>p99</th> <td align="right"><div id="p99" /></td> </tr>
                    <tr> <th colspan=2>risk metrics</th></tr>
                    <tr> <th>variance</th> <td align="right"><div id="risk" /></td> </tr>
                    <tr> <th>p90/p10</th> <td align="right"><div id="ratio9010" /></td> </tr>
                    <tr> <th>p90/p50</th> <td align="right"><div id="ratio9050" /></td> </tr>
                    <tr> <th>P(>nom)</th> <td align="right"><div id="pnom" /></td> </tr>
                </table>
            </td>
            <td>
                <div id="graph">loading simulation results...</div>
                <div id="result"></div>
            </td>
        </tr>
    </table>
</div>