
<div id="project-report">

    <h1>{{ project.description }}</h1>
    
    <div ng-if ="project.mine">
        <a href="#/edit/{{ project.id }}">edit</a> project
    </div>

    <div ng-if="!project.mine">
        <a href="#/copy/{{ project.id }}">copy</a> {{ project.owner }}'s project
    </div>

    <p />
    
    <table border=1>
        <thead>
            <tr>
                <th>task</th>
                <th>count</th>
                <th>estimate ({{ project.estimate }})</th>
                <th>risk</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{ task.description }}</td>
                <td>{{ task.count }}</td>
                <td>{{ task.estimate }}</td>
                <td>{{ task.risk }}</td>
            </tr>
        </tbody>
    </table>

    <p/>

    <table border="0">
        <tr>
            <td>
                <table border="1">
                    <tr> <th width="50">nominal</th> <td width="50" align="right">{{ results.nominal }}</td> </tr>
                    <tr> <th>mode</th> <td align="right">{{ results.mode }}</td> </tr>
                    <tr> <th>mean</th><td align="right">{{ results.mean }}</td> </tr>
                    <tr> <th>p10</th> <td align="right">{{ results.cumprob[10][0] }}</td> </tr>
                    <tr> <th>p50</th> <td align="right">{{ results.cumprob[50][0] }}</td> </tr>
                    <tr> <th>p80</th> <td align="right">{{ results.cumprob[80][0] }}</td> </tr>
                    <tr> <th>p90</th> <td align="right">{{ results.cumprob[90][0] }}</td> </tr>
                    <tr> <th>p95</th> <td align="right">{{ results.cumprob[95][0] }}</td> </tr>
                    <tr> <th>p99</th> <td align="right">{{ results.cumprob[99][0] }}</td> </tr>
                    <tr> <th colspan=2>risk metrics</th></tr>
                    <tr> <th>variance</th> <td align="right">{{ results.risk }}</td> </tr>
                    <tr> <th>p90/p10</th> <td align="right">{{ results.cumprob[90][0]/results.cumprob[10][0] }}</td> </tr>
                    <tr> <th>p90/p50</th> <td align="right">{{ results.cumprob[90][0]/results.cumprob[50][0] }}</td> </tr>
                    <tr> <th>P(>nom)</th> <td align="right">{{ results.pnom }}</td> </tr>
                </table>
            </td>
            <td>
                <div id="graph">loading simulation results...</div>
                <div id="result"></div>
            </td>
        </tr>
    </table>
</div>