
<div id="project-report">

    <h1>{{ project.description }}</h1>
    
    <div ng-if ="project.mine">
        <a href="#/edit/{{ project.id }}">edit</a> project
    </div>

    <div ng-if="!project.mine">
        <a href="#/copy/{{ project.id }}">copy</a> {{ project.owner }}'s project
    </div>

    <p />
    
    <table border=1>
        <thead>
            <tr>
                <th>task</th>
                <th>count</th>
                <th>estimate ({{ project.estimate }})</th>
                <th>risk</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{ task.description }}</td>
                <td>{{ task.count }}</td>
                <td>{{ task.estimate }}</td>
                <td>{{ task.risk }}</td>
            </tr>
        </tbody>
    </table>
</div>