$def with (greetings, id, form, display)

<html>

<head>
<title>Galton - estimate with confidence</title>
<link rel="stylesheet" type="text/css" href="/static/muffin.css" /> 

<script type="text/javascript" src="/static/mootools.js"></script>
<script type="text/javascript" src="/static/sprintf.js"></script>
<script type="text/javascript" src="/static/jscharts.js"></script>
<script type="text/javascript" src="/static/galton.js"></script>
<script type="text/javascript" src="/static/rpx.js"></script>
</head>

<body onload="runSim($id);">

$:greetings.render()

<a href="/"><img src="/static/galton.jpg" align="left" border="0" /></a>
<h1>Galton : estimate with confidence</h1>
<br clear=all><p/>

<div id="form">
$:form.render()
</div>

<div id=trace></div>
<p>

<div style="display: $display">
<form>
iterations: <input type="text" id='trials' size="5"  maxlength="5" value="10000" />
<input type="button" value="Run Simulation" id='run' onclick="runSim($id)" />
<input type="button" value="Export to CSV" id='export' onclick="exportSim($id)" />
</form>
</div>

<table border="0">
    <tr>
    <td>
        <table border="1">
            <tr> <th width="50">nominal</th> <td width="50" align="right"><div id="nominal" /></td> </tr>
            <tr> <th>mode</th> <td align="right"><div id="mode" /></td> </tr>
            <tr> <th>mean</th><td align="right"><div id="mean" /></td> </tr>
            <tr> <th>p10</th> <td align="right"><div id="p10" /></td> </tr>
            <tr> <th>p50</th> <td align="right"><div id="p50" /></td> </tr>
            <tr> <th>p80</th> <td align="right"><div id="p80" /></td> </tr>
            <tr> <th>p90</th> <td align="right"><div id="p90" /></td> </tr>
            <tr> <th>p95</th> <td align="right"><div id="p95" /></td> </tr>
            <tr> <th>p99</th> <td align="right"><div id="p99" /></td> </tr>
            <tr> <th colspan=2>risk metrics</th></td> </tr>
            <tr> <th>variance</th> <td align="right"><div id="risk" /></td> </tr>
            <tr> <th>p90/p10</th> <td align="right"><div id="ratio9010" /></td> </tr>
            <tr> <th>p90/p50</th> <td align="right"><div id="ratio9050" /></td> </tr>
            <tr> <th>P(>nom)</th> <td align="right"><div id="pnom" /></td> </tr>
        </table>
    </td>
    <td>
        <div id="graph">loading simulation results...</div>
        <div id="result"></div>
    </td>
    </tr>
</table>
<p/>

<div id="help">
</div>

<div style="display: $display">
<div id="legend" style="display:none">
<table border="0">
<tr>
    <th>risk</th>   <th>variance</th>   <th>P90/P10</th>   <th>P90/P50</th> 
</tr>    
<tr>
    <td><button style="width:80" onclick="riskSim('none');">none</button></td>              <td>0.001</td>   <td>1</td>   <td>1</td> 
</tr>      
<tr>
    <td><button style="width:80" onclick="riskSim('low');">low</button></td>                <td>0.27</td>   <td>2</td>   <td>1.4</td> 
</tr>      
<tr>
    <td><button style="width:80" onclick="riskSim('medium');">medium</button></td>          <td>0.54</td>   <td>4</td>   <td>2</td> 
</tr>      
<tr>
    <td><button style="width:80" onclick="riskSim('high');">high</button></td>              <td>0.81</td>   <td>8</td>   <td>2.8</td> 
</tr>      
<tr>
    <td><button style="width:80" onclick="riskSim('very high');">very high</button></td>    <td>1.08</td>   <td>16</td>   <td>4</td> 
</tr>    
</table>
</div>
<button  id="toggler" onClick="toggleLegend();">show risk legend</button>
</div>

</body>
</html>
