$def with (id, form)

<html>

<head>
<title>Galton - estimate with confidence</title>
<link rel="stylesheet" type="text/css" href="/static/muffin.css" /> 
<script type="text/javascript" src="/static/mootools.js"></script>
<script type="text/javascript" src="/static/sprintf.js"></script>
<script type="text/javascript" src="/static/jscharts.js"></script>
<script type="text/javascript">   
        
    function setContent(id, val)
    {
        document.getElementById(id).innerHTML = val;
    };
        
    function getContent(id)
    {
        return document.getElementById(id).value;
    };
    
    function showResults(results)
    {
        setContent('result', sprintf("montecarlo simulation took %3.2fs for %d iterations", results.simtime, results.trials));
        setContent('mean', sprintf("%.2f", results.mean));
        setContent('p10', sprintf("%.2f", results.cumprob[10][0]));
        setContent('p50', sprintf("%.2f", results.cumprob[50][0]));
        setContent('p80', sprintf("%.2f", results.cumprob[80][0])); 
        setContent('p90', sprintf("%.2f", results.cumprob[90][0]));  
        setContent('p95', sprintf("%.2f", results.cumprob[95][0]));  
        setContent('p99', sprintf("%.2f", results.cumprob[99][0]));  
        setContent('ratio9010', sprintf("%.2f", results.cumprob[90][0]/results.cumprob[10][0])); 
        setContent('ratio9050', sprintf("%.2f", results.cumprob[90][0]/results.cumprob[50][0]));  
        setContent('risk', sprintf("%.2f", results.risk));  
        
        drawChart(results.cumprob);
        document.getElementById('run').disabled = false;
    };
    
    var CHART = { 'title' : 'untitled' };
    
    function runSim()
    {     
        document.getElementById('run').disabled = true;
        CHART.title = getContent('project');
        
        //setContent('trace', sprintf("title = [%s]", getContent('project')));
        
        var resultsURL = "/project/$id/results?trials=" + getContent('trials');
        var jsonRequest = new Request.JSON({method: 'get', url: resultsURL, onSuccess: showResults});
        jsonRequest.get();
    };
    
    function taskSim(row)
    {
        var title = getContent("desc_" + row);
        var count = getContent("count_" + row);
        var median = getContent("median_" + row);
        var risk = getContent("risk_" + row);
        var resultsURL = sprintf("/montecarlo?trials=10000&count=%s&median=%s&risk=%s", count, median, risk);
        
        CHART.title = title;
        
        var jsonRequest = new Request.JSON({method: 'get', url: resultsURL, onSuccess: showResults});
        jsonRequest.get();
    };
    
    function drawChart(myData)
    {
        var myChart = new JSChart('graph', 'line');
        myChart.setDataArray(myData);
        myChart.setLineColor('#8D9386');
        myChart.setLineWidth(4);
        myChart.setTitleColor('#7D7D7D');
        myChart.setAxisColor('#9F0505');
        myChart.setGridColor('#a4a4a4');
        myChart.setAxisValuesColor('#333639');
        myChart.setAxisNameColor('#333639');
        myChart.setTextPaddingLeft(0);
        myChart.setAxisNameX("effort");
        myChart.setAxisNameY("confidence");
        myChart.setTitle(CHART.title);
        myChart.draw();
    };
  
</script>
</head>

<body onload="runSim();">
<a href="/"><img src="/static/galton.jpg"/></a><p/>
$:form.render()
<div id=trace></div>
<p>

<form>
iterations: <input type="text" id='trials' value="10000" />
<input type="button" value="Run Simulation" id='run' onclick="runSim()" />
</form>

<table border="0">
    <tr>
    <td>
        <table border="1">
            <tr> <th width="50">mean</th> <td width="50"><div id="mean" /></td> </tr>
            <tr> <th>p10</th> <td><div id="p10" /></td> </tr>
            <tr> <th>p50</th> <td><div id="p50" /></td> </tr>
            <tr> <th>p80</th> <td><div id="p80" /></td> </tr>
            <tr> <th>p90</th> <td><div id="p90" /></td> </tr>
            <tr> <th>p95</th> <td><div id="p95" /></td> </tr>
            <tr> <th>p99</th> <td><div id="p99" /></td> </tr>
            <tr> <th>p90/p10</th> <td><div id="ratio9010" /></td> </tr>
            <tr> <th>p90/p50</th> <td><div id="ratio9050" /></td> </tr>
            <tr> <th>risk</th> <td><div id="risk" /></td> </tr>
        </table>
    </td>
    <td>
        <div id="graph">loading simulation results...</div>
        <div id="result"></div>
    </td>
    </tr>
</table>
</body>
</html>
