$def with (id, form)

<html>

<script type="text/javascript" src="/static/mootools.js"/>
<script type="text/javascript" src="/static/sprintf.js"/>
<script type="text/javascript" src="/static/jscharts.js"/>
<script type="text/javascript">    
    function setContent(id, val)
    {
        document.getElementById(id).innerHTML = val;
    }
    
    function addContent(id, val)
    {
        document.getElementById(id).innerHTML += val;
    }
    
    function showResults(results)
    {
        setContent('result', sprintf("montecarlo simulation took %3.2fs for %d iterations", results.simtime, results.trials));
        setContent('mean', sprintf("%.2f", results.mean));
        setContent('p10', sprintf("%.2f", results.cumprob[10][0]));
        setContent('p50', sprintf("%.2f", results.cumprob[50][0]));
        setContent('p90', sprintf("%.2f", results.cumprob[90][0]));  
        
        drawChart(results.cumprob);
    }
    
    function runSim()
    {        
        var jsonRequest = new Request.JSON({method: 'get', url: "http://localhost:8080/project/$id/results", onSuccess: showResults});
        jsonRequest.get();
    }
    
    function drawChart(myData)
    {
        var myChart = new JSChart('graph', 'line');
        myChart.setDataArray(myData);
        myChart.setLineColor('#8D9386');
        myChart.setLineWidth(4);
        myChart.setTitleColor('#7D7D7D');
        myChart.setAxisColor('#9F0505');
        myChart.setGridColor('#a4a4a4');
        myChart.setAxisValuesColor('#333639');
        myChart.setAxisNameColor('#333639');
        myChart.setTextPaddingLeft(0);
        myChart.setAxisNameX("effort");
        myChart.setAxisNameY("confidence");
        myChart.setTitle("project");
        myChart.draw();
    }
</script>

$:form.render()
<p>

<input type="button" value="Run Simulation" onclick="runSim()" />
</html>

<table border="1">
    <tr> <td width="50">mean</td> <td width="50"><div id="mean" /></td> </tr>
    <tr> <td>p10</td> <td><div id="p10" /></td> </tr>
    <tr> <td>p50</td> <td><div id="p50" /></td> </tr>
    <tr> <td>p90</td> <td><div id="p90" /></td> </tr>
</table>

<div id="graph"></div>
<div id="result"></div>
